mSoapServer/src/wsdl/HelloWorld.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://placeservice/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="HelloWorldService" targetNamespace="http://placeservice/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://placeservice/" elementFormDefault="unqualified" targetNamespace="http://placeservice/" version="1.0">

            <xs:element name="getMsg" type="tns:getMsg"/>

            <xs:element name="getMsgResponse" type="tns:getMsgResponse"/>

            <xs:complexType name="getMsg">
                <xs:sequence>
                    <xs:element minOccurs="0" name="arg0" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="getMsgResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:book"/>
                </xs:sequence>
            </xs:complexType>

            <xs:complexType name="book">
                <xs:sequence>
                    <xs:element minOccurs="0" name="authorFirstName" type="xs:string"/>
                    <xs:element minOccurs="0" name="authorSecondName" type="xs:string"/>
                    <xs:element minOccurs="0" name="id" type="xs:long"/>
                    <xs:element minOccurs="0" name="isbn" type="xs:string"/>
                    <xs:element minOccurs="0" name="price" type="xs:double"/>
                    <xs:element minOccurs="0" name="publicationDate" type="xs:int"/>
                    <xs:element minOccurs="0" name="title" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>

        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getMsgResponse">
        <wsdl:part element="tns:getMsgResponse" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getMsg">
        <wsdl:part element="tns:getMsg" name="parameters">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="HelloWorld">
        <wsdl:operation name="getMsg">
            <wsdl:input message="tns:getMsg" name="getMsg">
            </wsdl:input>
            <wsdl:output message="tns:getMsgResponse" name="getMsgResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="HelloWorldServiceSoapBinding" type="tns:HelloWorld">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getMsg">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getMsg">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getMsgResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="HelloWorldService">
        <wsdl:port binding="tns:HelloWorldServiceSoapBinding" name="HelloWorldPort">
            <soap:address location="http://localhost:8080/mSoapServer/HelloWorld"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>